.note {
  margin-top: 20px;
  margin-bottom: 20px;
}

.note_content {
  padding: 10px;
}

.note_content > h2 {
  font-size: 14px;
  margin-bottom: 5px;
}

.note_content > h4 {
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(82, 82, 82);
}

.note_content > p {
  font-size: 14px;
  color: gray;
}
